.navbar {
  box-shadow: none !important;
}

.navbar-nav > li {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}

.nav-link {
  color: #36536b;
}

@media (max-width: 576px) {
  .alignRight .btn__demo {
    margin-left: 20px;
  }
}
