.pricing__shape,
.pricing__shapeTab {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .plansList__text {
    margin: 15px 0;
    padding: 0 20px;
  }
}

/* Tablet screens (768px) */
@media (max-width: 768px) {
  .pricing__shape {
    display: none !important;
  }

  .formInput {
    margin-top: 20px !important;
  }
}

@media (min-width: 769px) {
  .pricing__shapeTab {
    display: none;
  }
}
