.simpleUI {
  /* padding: 80px 0; */
  position: relative;
}

.simpleUI h2 {
  padding-top: 150px;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692px;
  color: #36536b;
}

.simpleUI p {
  color: #6c8294;
}

.simpleUI__shape {
  position: absolute;
  top: -150px;
  right: 0;
  z-index: -1;
}

.phone2 {
  margin-left: -60px;
}

@media (max-width: 991px) {
  .simpleUI__img {
    margin-top: -20px !important;
  }

  .simpleUI__info {
    margin-top: -80px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .implement__img {
    margin-left: 20px;
  }

  .simpleUI__shape {
    display: none;
  }

  .simpleUI h2,
  .simpleUI p {
    text-align: center;
  }

  .simpleUI {
    margin-top: -100px;
    text-align: center;
    padding: 0 15px;
  }

  .simpleUI__img {
    margin-left: 30px;
  }

  .simpleUI__info {
    margin-top: -150px;
  }
}
